<div class="wrapper">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status">
			<div class="status-mes"><h4>Tiago Sciência</h4></div>
		</div>
	</div>

	<!-- Navigation start -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Tiago Sciência</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#intro">Home</a></li>
					<li><a href="#profile">Profile</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#resume">Resume</a></li>
					<li><a href="#portfolio">Projects</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>

		</div>
	</nav>

	<!-- Intro section start -->
	<section id="intro" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hello wow bounceInDown">
						<h1 class="title-name">Hello, I'm Tiago Sciência</h1>
						<h3 class="subtitle-role"><span class="rotate">Software Developer</span></h3>
					</div>

					<a href="#profile">
						<div class="mouse-icon">
							<div class="wheel"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Profile contact callout section -->
	<section id="profile-contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 wow bounceInLeft">
					<div class="profile-item text-center">
						<i class="fa fa-envelope-o"></i>
						<h5>tisciencia@gmail.com</h5>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp">
					<div class="profile-item text-center">
						<i class="fa fa-skype"></i>
						<h5>sciencia.tiago</h5>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInRight">
					<div class="profile-item text-center">
						<i class="fa fa-map-marker"></i>
						<h5>São Paulo, SP, Brazil</h5>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Profile contact callout section -->
	<!-- Profile section start -->
	<section id="profile" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline wow bounceInDown">
					<h2>Tiago Sciência</h2>
					<p>Software Developer</p>
				</div>

				<div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
					<%= image_tag("tiago-sciencia-profile-photo.jpg", :class => "avatar") %>
				</div>

				<div class="col-md-3 col-sm-6 wow bounceInUp">

					<div class="profile-widget">
						<h3>Skillset</h3>

						<h5>Software Developer</h5>
						<div class="skill-bar">
							<div class="skill-rate-on"></div>
							<div class="skill-rate-on"></div>
							<div class="skill-rate-on"></div>
							<div class="skill-rate-off"></div>
						</div>

						<h5>C# / ASP.NET MVC / Web API</h5>
						<div class="skill-bar">
							<div class="skill-rate-on"></div>
							<div class="skill-rate-on"></div>
							<div class="skill-rate-on"></div>
							<div class="skill-rate-on"></div>
						</div>

						<h5>Ruby on Rails</h5>
						<div class="skill-bar">
							<div class="skill-rate-on"></div>
							<div class="skill-rate-off"></div>
							<div class="skill-rate-off"></div>
							<div class="skill-rate-off"></div>
						</div>

						<h5>HTML / CSS / Javascript</h5>
						<div class="skill-bar">
							<div class="skill-rate-on"></div>
							<div class="skill-rate-on"></div>
							<div class="skill-rate-on"></div>
							<div class="skill-rate-off"></div>
						</div>
					</div>

					<div class="profile-widget">
						<h3>Social Profiles</h3>
						<ul class="widget-social">
							<li><a href="https://www.linkedin.com/in/tisciencia" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://github.com/tisciencia" target="_blank"><i class="fa fa-github"></i></a></li>
							<li><a href="https://twitter.com/_caco" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/103559911085209095345/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div><!-- .col-md-3 -->

				<div class="col-md-6 col-sm-12 wow bounceInRight">
					<h3>Professional Profile</h3>
					<p>
						I'm a passionate Developer. Specialized in Object-Oriented Design, Analysis and Programming with extensive experience in the full life cycle of the software design process including requirements definition, object modeling design, database design, tier structure development, prototyping, interface implementation, testing, troubleshooting, maintenance and support.
					</p>
					<p>
						In addiction, I'm very interested about business process, product features, customer engagement and metrics.
					</p>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Callout section start -->
	<section id="stats" class="callout">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft">
					<h3>My Stats</h3>
				</div>

				<div class="col-md-3 col-sm-4 wow bounceInDown">
					<div class="stat">
						<div class="stat-icon">
							<h2>
								<i class="fa fa-child hidden-xs"></i>
								<span class="timer" data-to="29"></span>
							</h2>
						</div>
						<h3>Years old</h3>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 wow bounceInUp">
					<div class="stat">
						<div class="stat-icon">
							<h2>
								<i class="fa fa-code hidden-xs"></i>
								<span class="timer" data-to="8"></span>+
							</h2>
						</div>
						<h3>Years of experience</h3>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 wow bounceInRight">
					<div class="stat">
						<div class="stat-icon">
							<h2>
								<i class="fa fa-coffee hidden-xs"></i>
								<span class="timer" data-to="999"></span>+
							</h2>
						</div>
						<h3>Hundreds of cups of coffee</h3>
					</div>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- services section start -->
	<section id="services" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline wow bounceInDown">
					<h2>What i can do</h2>
					<p>My services.</p>
				</div>

				<div class="col-md-12">
					<div class="row">
						<div class="col-sm-4 wow bounceInLeft">
							<div class="service">
								<div class="icon">
									<i class="fa fa-cog"></i>
								</div>
								<h4>Application Infrastructure</h4>
								<div class="text">
									<p>
										Help to establish “good practices” for software development projects at organizational level (enterprise architecture) in order to build a solid stack framework with reusable tools for the team and the company.
									</p>
								</div>
							</div>
						</div>

						<div class="col-sm-4 wow bounceInUp">
							<div class="service">
								<div class="icon">
									<i class="fa fa-code"></i>
								</div>
								<h4>Back-end and Front-end</h4>
								<div class="text">
									<p>
										Engineering, architecting and developing, including all layers - from database to services and also the user interface (web application). Apply rigor and creativity, combining expertise in usability research, human-computer interaction, and graphic design to solve diverse GUI design issues.
									</p>
								</div>
							</div>
						</div>

						<div class="col-sm-4 wow bounceInRight">
							<div class="service">
								<div class="icon">
									<i class="fa fa-globe"></i>
								</div>
								<h4>REST API Design</h4>
								<div class="text">
									<p>
										Build RESP API to be consumed by a variety of clients such as mobile applications or third-party applications. These services help the communication between different computer softwares allowing them to exchange data and don't depend upon a particular programming language.
									</p>
								</div>
							</div>
						</div>
					</div><!-- .row -->

					<div class="row">
						<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
							<div class="service">
								<div class="icon">
									<i class="fa fa-recycle"></i>
								</div>
								<h4>Application Lifecycle Management</h4>
								<div class="text">
									<p>
										Knowledge of continuous process of managing the life of an application through governance, development and maintenance.
									</p>
								</div>
							</div>
						</div>

						<div class="col-sm-4 wow bounceInUp" data-wow-delay=".6s">
							<div class="service">
								<div class="icon">
									<i class="fa fa-line-chart"></i>
								</div>
								<h4>Agile Project Management</h4>
								<div class="text">
									<p>
										Work in short sprints on small-scale but functioning releases of a product. Testing each release against customers' needs, instead of aiming for a single final result that is only released at the end of the project. Following agile principles and tools for development and management such as XP, Kanban, Scrum and Lean.
									</p>
								</div>
							</div>
						</div>
						<div class="text">
						</div>

						<div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
							<div class="service">
								<div class="icon">
									<i class="fa fa-lightbulb-o"></i>
								</div>
								<h4>Have an idea?</h4>
								<div class="text">
									<p>
										Meet new technical challenges and find the best solution to meet the needs of the customer. Act as the technical strategist by working with the client and internal groups to gather business, functional and technical requirements to develop the application based on Lean Startup mindset.
									</p>
								</div>
							</div>
						</div>
					</div><!-- .row -->
				</div><!-- .col-md-12 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Callout section start -->
	<section class="callout">
		<div class="container">
			<div class="row">
				<div class="col-md-3 hidden-xs wow bounceInLeft">
					<h3>My status</h3>
				</div>

				<div class="col-md-9 headline nomargin wow bounceInDown">
					<h3>I'm open for new challenges.</h3>
					<p>I'm currently employed, however, I'm open to discuss new opportunities. Let's have a coffee?</p>
					<a href="#contact" class="btn btn-default btn-custom-2 callout-btn"><i class="fa fa-paper-plane-o icon-before"></i> Contact me</a>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Resume section start -->
	<section id="resume" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline wow bounceInDown">
					<h2>Resume</h2>
					<p>My education and experience.</p>
				</div>
			</div><!-- .row -->

			<div class="row resume-items hidden-xs">
				<div class="col-md-3 wow bounceInLeft">
					<h3>Education</h3>
				</div>

				<div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
					<h4>English Course</h4>
					<p>Intensive language course</p>
					<hr class="hidden-xs">
				</div>

				<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
					<h4><i class="fa fa-suitcase"></i> CLS Brasil</h4>
					<i class="fa fa-calendar"></i> 2009 - 2012
					<hr class="visible-xs">
				</div>

				<div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
					<h4>Design and Development Object-Oriented System</h4>
					<p>Specialization</p>
					<hr class="hidden-xs">
				</div>

				<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
					<h4><i class="fa fa-suitcase"></i> Mackenzie University</h4>
					<i class="fa fa-calendar"></i> 2018 - 2009
					<hr class="visible-xs">
				</div>

				<div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
					<h4>Information Systems</h4>
					<p>Graduation</p>
					<hr class="hidden-xs">
				</div>

				<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
					<h4><i class="fa fa-suitcase"></i> Mackenzie University</h4>
					<i class="fa fa-calendar"></i> 2004 - 2007
					<hr class="visible-xs">
				</div>

				<div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
					<h4>Computing</h4>
					<p>Technical High School</p>
					<hr class="hidden-xs">
				</div>

				<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
					<h4><i class="fa fa-suitcase"></i> Philadelpho Gouvêa Neto</h4>
					<i class="fa fa-calendar"></i> 2002 - 2003
					<hr class="visible-xs">
				</div>
			</div><!-- .row -->

			<div class="row resume-items hidden-xs">
				<div class="col-md-3 wow bounceInLeft">
					<h3>Experience</h3>
				</div>

				<div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
					<h4>System Analyst</h4>
					<ul class="text-left">
						<li>Development (back-end/front-end)</li>
						<li>Create several enterprise components like authentication, data access, log, audit and mailer</li>
						<li>Hosting components using Nuget Package Server</li>
						<li>Design and develop APIs</li>
						<li>Create an API SDK for .NET consumers</li>
						<li>Develop analytical dashboards</li>
						<li>Analysis and specifications</li>
						<li>Maintenance and improvements in legacy systems</li>
					</ul>
					<p>Technologies: Visual Studio 2013, C#, Asp.Net MVC4, Asp.Net WebApi, Asp.Net Identity, Linq, HTML5, CSS3, Sass, Javascript, Jquery, Entity Framework, SQL2012, TFS, Azure WebSites.</p>
					<hr class="hidden-xs">
				</div>

				<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
					<h4><i class="fa fa-suitcase"></i> Kantar IBOPE Media</h4>
					<i class="fa fa-calendar"></i> 2013 - Actual
					<hr class="visible-xs">
				</div>

				<div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
					<h4>Full Stack Web Developer</h4>
					<ul class="text-left">
						<li>Develop a Fashion Social Network including concepts of Activity Stream, User Profiler, Groups, Brands Page, Followers, Virtual Closet, Likes and Shares of contents</li>
						<li>Develop a crawler tool</li>
						<li>Fetch feeds (rss/atom) from blogs</li>
						<li>SEO implementation</li>
						<li>Internacionalization in a web application</li>
						<li>Background jobs using messaging queue</li>
						<li>Programming and Documentation API</li>
					</ul>
					<p>Technologies: Visual Studio 2012, HTML5, CSS3, Javascript, Sass, Twitter Bootstrap and Jquery, Git, C#, Asp.Net MVC, Asp.Net WebAPI, Entity Framework, Linq, SQL2012, Amazon EC2, SQS, SNS, S3 and DynamoDB.</p>
					<hr class="hidden-xs">
				</div>

				<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
					<h4><i class="fa fa-suitcase"></i> Fashion.me</h4>
					<i class="fa fa-calendar"></i> 2012 - 2013
					<hr class="visible-xs">
				</div>

				<div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
					<h4>Software Developer</h4>
					<p>Please, download my complete resume below to have a full picture of my professional background and experience.</p>
					<hr class="hidden-xs">
				</div>

				<div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
					<h4><i class="fa fa-suitcase"></i> Others</h4>
					<i class="fa fa-calendar"></i> 2005 - 2011
					<hr class="visible-xs">
				</div>

			</div><!-- .row -->

			<div class="row">
				<div class="col-md-6 col-md-offset-3 wow bounceInUp">
					<a href='<%= asset_path("CVTiagoSciencia.pdf") %>' target="_blank" class="btn btn-default btn-custom-2"><i class="fa fa-cloud-download icon-before"></i> Download Resume - PT</a>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Callout section start -->
	<section id="clients" class="callout">
		<div class="container">
			<div class="row">
				<div class="col-md-3 wow bounceInLeft">
					<h3>Some interests</h3>
				</div>

				<div class="col-md-9 wow bounceInRight">
					<div id="owl-clients" class="owl-carousel">
						<div class="owl-item">
							<i class="fa fa-5x fa-codepen"></i>
							<h4>Software Architecture</h4>
						</div>

						<div class="owl-item">
							<i class="fa fa-5x fa-code"></i>
							<h4>Web Development</h4>
						</div>

						<div class="owl-item">
							<i class="fa fa-5x fa-line-chart"></i>
							<h4>Agile</h4>
						</div>

						<div class="owl-item">
							<i class="fa fa-5x fa-trello"></i>
							<h4>Kanban</h4>
						</div>

						<div class="owl-item">
							<i class="fa fa-5x fa-rocket"></i>
							<h4>Startups</h4>
						</div>

						<div class="owl-item">
							<i class="fa fa-5x fa-suitcase"></i>
							<h4>Traveling</h4>
						</div>
					</div>
				</div><!-- .col-md-9 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Portfolio section start -->
	<section id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline wow bounceInDown">
					<h2>Projects</h2>
					<p>Some of my side projects</p>
				</div>

				<div class="col-md-4 col-sm-6 wow bounceInLeft">
					<a href="<%= image_path("cupongme.jpg") %>" class="pop-up">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<%= image_tag("cupongme.jpg") %>
							</div>
							<div class="portfolio-item-description">
								<h3>Cupong.me</h3>
								<p>Transforme suas compras em solidariedade</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 wow bounceInUp">
					<a href="<%= image_path("alegrianocaos.jpg") %>" class="pop-up">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<%= image_tag("alegrianocaos.jpg") %>
							</div>
							<div class="portfolio-item-description">
								<h3>Alegria no caos</h3>
								<p>Grupo de voluntários que realizam ações sociais ao longo do ano</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 wow bounceInRight">
					<a href="<%= image_path("appkaraoke.jpg") %>" class="pop-up">
						<div class="portfolio-item">
							<div class="portfolio-item-preview">
								<%= image_tag("appkaraoke.jpg") %>
							</div>
							<div class="portfolio-item-description">
								<h3>App Karaokê</h3>
								<p>Peça sua música, avalie seus amigos e acompanhe o ranking de votação</p>
							</div>
						</div>
					</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Contact section start -->
	<section id="contact" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 headline wow bounceInLeft">
					<h2>Contact me</h2>
					<p>Send me a message or give me a call.</p>
				</div>

				<div class="col-md-6 wow bounceInUp">
					<p>I'm looking forward to speak with you.</p>

					<ul class="icon-list">
						<li><i class="fa fa-fw fa-map-marker"></i>São Paulo, SP, Brazil</li>
						<li><i class="fa fa-fw fa-skype"></i>sciencia.tiago</li>
						<li><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:">tisciencia@gmail.com</a></li>
						<li><i class="fa fa-fw fa-globe"></i><a href="">http://tiagosciencia.com</a></li>
					</ul>
				</div>
				<div class="col-md-6 wow bounceInRight">
					<%= form_for(@contact) do |f| %>
					<%= render 'shared/errors', object: @contact %>
					<div class="form-group">
						<%= f.label :name %><br>
						<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
					</div>

					<div class="form-group">
						<%= f.label :email %><br>
						<%= f.text_field :email, class: "form-control", placeholder: "E-mail" %>
					</div>

					<div class="form-group">
						<%= f.label :message %><br>
						<%= f.text_area :message, class: "form-control", placeholder: "Your message" %>
					</div>

					<button type="submit" class="btn btn-custom-1">
						<i class="fa fa-bullhorn icon-before"></i> Send it
					</button>
					<% end %>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Footer start -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="copy">
						©2015 Tiago Sciência, All Rights Reserved.
					</p>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</footer>
</div><!-- .wrapper -->